a#bookmarklet(href="javascript:(function(d) {window.open('http://192.168.1.64:3000/wish/submit?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title))}(window.document));") TTree Bookmarklet
