a#bookmarklet(href="javascript:(function(d) {window.open(siteURL+'wish/submit?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title))}(window.document));") TTree Bookmarklet
