extends layout

block content
	.row
		.col-sm-4
			h2 This is a prototype
			p We're looking for teachers to join the beta.
			p
				a(href="/contact")
					button.btn.btn-primary.btn.hideable.is-visible.js-toggle-state(type='button') Join the Beta
				
			include partials/bookmarklet.jade
		.col-sm-8
			include partials/wishesList_view.html		
block footer
	script(src='/js/lib/moment.js')
	script(src='/js/lib/ractive.js')
	script(src='/js/hometemplate.js')