doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		title A grouped pure CSS parallax demo (with webkit overflow fix) by Keith Clark
		link(rel='stylesheet', href='/witch/style.css')
	body
		.demo__info(style="display:none")
			| Pure CSS parallax scroll demo #3 by Keith Clark. Please read the 
			a(href='../') blog post
			|	for more information.
		.mssPages
		.parallax
			#group1.parallax__group
				#cauldron
				.parallax__layer.parallax__layer--base
					.title Writing is lonely work.
			#group2.parallax__group
				.mssPages
				.parallax__layer.parallax__layer--base
					.title Base Layer
				#bgA.parallax__layer.parallax__layer--back
					.title Background Layer
			#group3.parallax__group
				.parallax__layer.parallax__layer--fore
					.title Foreground Layer
				.parallax__layer.parallax__layer--base
					.title Base Layer
			#group4.parallax__group
				.parallax__layer.parallax__layer--base
					.title Base Layer
				.parallax__layer.parallax__layer--back
					.title Background Layer
				.parallax__layer.parallax__layer--deep
					.title Deep Background Layer
			#group5.parallax__group
				.parallax__layer.parallax__layer--fore
					.title Foreground Layer
				.parallax__layer.parallax__layer--base
					.title Base Layer
			#group6.parallax__group
				.parallax__layer.parallax__layer--back
					.title Background Layer
				.parallax__layer.parallax__layer--base
					.title Base Layer
			#group7.parallax__group
				.parallax__layer.parallax__layer--base
					.title Base Layer
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-XXXXXXX-1', 'auto');
			ga('send', 'pageview');
