.need_row {
	background-color: #DDFFF7;
}
.want_row {
	background-color: #DAF7DC;
	
}
.sugar_row {
	background-color: #E9EBF8;
}

// Button to Input slide

.is-slideable {
    position: relative;
    margin-left: 0;
    -webkit-transition: 0.6s margin-left;
            transition: 0.6s margin-left;
}

.is-slided {
    margin-left: -90px;
}

.hideable.is-hidden {
    opacity: 0;
    -webkit-transition: 0.2s 0s opacity;
            transition: 0.2s 0s opacity;
}

.hideable.is-visible {
    opacity: 1;
    -webkit-transition: 0.3s 0.4s opacity;
            transition: 0.3s 0.4s opacity;
}
#bookmarklet {
	display: block;
	width: 200px;
	padding: 1em 2em;
	background: #f3f3f3;
	text-decoration: none;
	color: #444;
}
.notYet {
	opacity: 0.5
}
#main {
	margin-bottom: 50px;
}
.pointer {
	cursor:pointer;
}
.debug label{
	color:#d69200;
}
.debugHide {
	display:none
}
.bootstrap-tagsinput > input {
	display: block;
	width: 100%;
	height: 43px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#imgBg {
	width: 128px;
	height: 128px;
	background-size: 128px 128px;
}
.imgBox {
	overflow:hidden;
	position: relative;
}
.imgOverlay {
	width: 128px;
	height: 128px;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	background: rgba(255, 255, 255, .55);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;

}
.imgBox:hover .imgOverlay {
	opacity:1;
}
.wishLabel {
	background-color: #16b216
}
.wantLabel {
	background-color: #7c7ccb
}
#profileImage {
	margin:120px auto;
}
#profileImageWrap {
	position:absolute;
	top:40px;
	left:0px;
	width:100%;
	text-align:center;
}
#secondaryImageWrap {
	overflow:hidden;
}
.warn {
	color: red;
}